.table-cal{
    margin-left: 126px;
}
.cal-main{
    width: 80%;
    padding: 40px;
    margin-top: 80px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 0  0 2px rgba(240, 240, 240, 0.981);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.cal-header{
    font-size: 20px;
    font-weight: 600px;
    margin-left: 28px;
    color: rgb(170, 169, 169);
}
.cal-body{
    background-color: #EFEDF9;
    margin-top: 40px;
    border-radius: 10px;
    box-shadow: 0 0  0 2px rgba(175, 198, 242, 0.227);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.month{
    margin-left: 28px;
    margin-bottom: 20px;
    padding-top: 20px;
    font-size: 20px;
    color: #448cf8;
}
.calender_14{
    width: 100%;
}

.calender .cal-tr .cal-td{
    border-style: none;
    background: none;
}

.cal-tr{
    width: 10px;
    text-align: center;

}

.cal-btn{
    border: none;
    margin-bottom: 20px;
    background: none;
    color: #707070;
}

.cla-text{
    width: 30px;
    padding: 5px;
    border-radius: 3px;
    background-color: white;
    color: #707070;
    font-size:15px;
}


.cal-slot{
   margin-top: 40px;
    padding: 14px;
}
.cal-morning-slot {
    width: 40%;
    margin-right: 100px;
    border-radius: 10px;
    background-color: #EFEDF9;
    box-shadow: 0 0  0 2px rgba(175, 198, 242, 0.227);
}
.morning{
    margin-left: 28px;
    margin-top: 20px;
    color: #707070;
    font-size:15px;
}

.cal-morn-in{
    margin-left: 28px;
}
.cal-morn-in-left{
    border: none;
    box-shadow: 0 0  0 2px rgba(175, 198, 242, 0.227);
    margin-bottom: 40px;
    font-size: 15px;
    text-align: center;
    width: 40%;
}



.cal-day-slot {
    background-color: #EFEDF9;
    width: 40%;
    border-radius: 10px;
    margin-left: 28px;
    box-shadow: 0 0  0 2px rgba(175, 198, 242, 0.227);
}
.day{
    margin-left: 28px;
    color: #707070;
    font-size: 15px;
    margin-top: 20px;
}
.cal-day-in{
    margin-left: 28px;
}  
.cal-morn-day-right{
    margin-bottom: 40px;
    width: 40%;
    text-align: center; 
    font-size: 15px;
    border: none;
    box-shadow: 0 0  0 2px rgba(175, 198, 242, 0.227);
}
.cal-footer{
    color: #707070;
    margin-left: 28px; 
    font-size: 17px;
}


.cal-min-slot {
    background-color: #EFEDF9;
    width: 40%;
    margin-top: 65px;
    margin-top: 30px;
    margin-left: 1px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0  0 2px rgba(175, 198, 242, 0.227);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.total{
    list-style: none;
   
}
.cal-min-l{
    display: inline;
    color: #707070;
    font-size: 15px;
    margin-left: 10px;
}
.cal-min-m{
    display: inline;
    text-align: center;
    float: right;
    font-size: 15px;
    color: #707070;
    margin-right: 40px;
}
.cal-min-r{
    display: inline;
    text-align: center;
    float: right;
    font-size: 15px;
    color: #707070;
    margin-right: 40px;
}
.cal-min-t{
    width: 30px;
    text-align: center;
    height: 30px;
}

.cal-service-slot {
    width: 70%;
    margin-right: 100px;
    border-radius: 10px;
    margin-left: 1px;
    margin-top: 40px;
    background-color: #EFEDF9;
    box-shadow: 0 0  0 2px rgba(175, 198, 242, 0.227);
}


.cal-x-y{
    list-style: none;
}
.cal-x-y-z{
    font-size: 15px;
    color: #707070;

}

