.cal-body{
    background-color: rgba(175, 198, 242, 0.227);
    margin-top: 40px;
    box-shadow: 0 0  0 2px rgba(175, 198, 242, 0.227);
    padding: 20px;
}

.month{
    margin-left: 28px;
    margin-bottom: 20px;
}
.calender_14{
    width: 100%;
}

.calender .cal-tr .cal-td{
    border-style: none;
    background: none;
}

.cal-tr{
    width: 10px;
    text-align: center;

}

.cal-btn{
    border: none;
    margin-bottom: 20px;
}

.cla-text{
    width: 30px;
    padding: 5px;
    background-color: white;
    box-shadow: 0 0  0 2px rgb(255,255,255),
             0.3em 0.3em 1em rgba(0,0,0,0.3);
}