.volunteer_account{
    color: #00569F;
    background-color: #F6F5FD;
    box-shadow: 0px 3px 5px #1223BD26;
    border-radius: 15px 15px 0px 0px;
    opacity: 1;
}
.volunteer-form-sub-btn{
    background: #F5F7F9 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 15px #1223BD1A;
border: 4px solid #FFFFFF;
border-radius: 30px;
color: #00569f;
font-weight: bold;

}
.apply-next-btn{
    margin-top: 30% !important;
    background-color: #00569F;
    border:none;
   width: 50%;
    padding: 8px;
    border-radius: 15px;
    color: white;
}

.otp-card-place{
    background-color: #F3F2F6;
}
.otp-card-place::placeholder{
text-align: center;
}
.otp-btn-verify{
    background-color:#7CB72C;
    border: none;
    padding: 5px 15px 5px 15px;
    border-radius: 8px;
}
